*{
   font-family: 'Playfair Display', serif;
}
.text-layout{
   background-image: url("images/text-overlay.png");
   background-size: cover;
   background-position: center;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
header .text-layout{
   /* transform: translate(-50%, -50%) rotateY(180deg); */
   background-image: url("images/header-overlay.png");
   background-size: contain;
   background-repeat: no-repeat;
   height: 100%;
   width: 100%;
   background-position: bottom right;

   top: 100%;
   left: 100%;
   transform: translate(-100%, -100%);
   
}
.text-layout.menu{
   position: fixed;
   z-index: -1;
}
.cat{
   box-shadow: 6px 6px 15px #0000004d;
   text-shadow: 0px 0px 10px #f6f1bc;
}
.l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9{
   background-position: center;
   background-size: cover;
   transition: 0.3s ease-in-out;
   /* transition: ease-in; */
} .cat:hover
/* .l1, .cat:hover .l2, .cat:hover .l3, .cat:hover .l4, .cat:hover .l5, .cat:hover .l6, .cat:hover .l7, .cat:hover .l8, .cat:hover .l9{
   transform: scale(1.3) translate(-50%, -50%)
} */
.l1{
   background-image: linear-gradient(rgba(48, 78, 62, 0.7) , rgba(48, 78, 62, 0.7)) , url("images/food.png");
}
.l2{
   background-image: linear-gradient(rgba(48, 78, 62, 0.7) , rgba(48, 78, 62, 0.7)) , url("images/food1.png");
}
.l3{
   background-image: linear-gradient(rgba(48, 78, 62, 0.7) , rgba(48, 78, 62, 0.7)) , url("images/food2.png");
}
.l4{
   background-image: linear-gradient(rgba(48, 78, 62, 0.7) , rgba(48, 78, 62, 0.7)) , url("images/food3.png");
}
.l5{
   background-image: linear-gradient(rgba(48, 78, 62, 0.7) , rgba(48, 78, 62, 0.7)) , url("images/food4.png");
}
.l6{
   background-image: linear-gradient(rgba(48, 78, 62, 0.7) , rgba(48, 78, 62, 0.7)) , url("images/food5.png");
}
.l7{
   background-image: linear-gradient(rgba(48, 78, 62, 0.7) , rgba(48, 78, 62, 0.7)) , url("images/food6.png");
}
.l8{
   background-image: linear-gradient(rgba(48, 78, 62, 0.7) , rgba(48, 78, 62, 0.7)) , url("images/food8.png");
}
.l9{
   background-image: linear-gradient(rgba(48, 78, 62, 0.7) , rgba(48, 78, 62, 0.7)) , url("images/food9.png");
}
